<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>{{page.title}} | Department of Artificial Intelligence - IIT Hyderabad</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<link rel="stylesheet" href="{{site.baseurl}}/assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/node_modules/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/node_modules/bootstrap-social/bootstrap-social.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300;400;500;600;700&family=Open+Sans:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href = "{{site.baseurl}}/assets/css/stylesheet.css">
		<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/img/iithlogo.png">
	</head>

	<body>
		<header class = "header">
			<div class = "container">
				<div class = "row">
					<div class="col-sm-12 col-md-2 image-align-center">
						<img src="{{site.baseurl}}/assets/img/iithlogo.png" width = "125px" height = "125px" alt = "IITH Logo">
					</div>

					<div id = "text" class = "col-sm-12 col-md-10">
						<h2 class = "text-center">DEPARTMENT OF ARTIFICIAL INTELLIGENCE</h2>
						<p class = "text-center">Indian Institute of Technology, Hyderabad</p>
					</div>
				</div>
			</div>
		</header>
		
        {{content}}
        

		<footer class="footer">
			<div class="container-fluid">
				<div class="row">             
					<div class="col-md-4">     
						<div id="header-widget-area" class="hw-widget widget-area" role="complementary"> 
						<img src="{{site.baseurl}}/assets/img/iithlogo.png" width = "15%" height = "15%" class="img-footer" alt = "IITH Logo"><br>
						<h5>Artificial Intelligence</h5>
						<h5>IIT Hyderabad</h5>
						</div>
					</div>

					<div class="col-md-4">    
						<div id="header-widget-area" class="hw-widget widget-area" role="complementary"> 
						<div class="widget_text hw-widget"><h4 class="hw-title">Quicklinks</h4>
						<div class="textwidget custom-html-widget">
						<a class="navigate" href="{{site.baseurl}}/pages/programs/btech.html" >Programs</a><br>
						<a class="navigate" href="{{site.baseurl}}/pages/admissions/mtechadmissions.html" >Admissions</a><br>
						<a class="navigate" href="https://ocs.iith.ac.in/" target="_blank" >Placements</a><br>
						<a class="navigate" href="https://pcr.iith.ac.in/newsletter.html" target="_blank">KirIITH</a><br>
						<a class="navigate" href="{{site.baseurl}}/pages/contact/contactus.html">Contact Us</a><br>
						</div>
						</div>
						</div>
					</div>	

					<div class = "col-md-4">
						<div id="header-widget-area" class="hw-widget widget-area" role="complementary"> 
						<div class="widget_text hw-widget"><h4 class="hw-title">Follow Us</h4>
						<div class="textwidget custom-html-widget">
						<a href="https://www.linkedin.com/company/ai-iith" target="_blank"><i class="fa fa-linkedin fa-2x"></i>&nbsp</a>
						<a href="https://twitter.com/IITHyderabad?ref_src=twsrc%5Etfw" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
						</div>
						</div>	
						</div>
					</div>
				</div>	
			</div>

			<div class="clearfix"></div>     
			<div id="footer-bottom"> 
				<br><div class="col-md-6 text-left">
				Copyright &copy; 2021 Department of AI, IIT Hyderabad
				</div>              
			</div>     
		</footer>

		<div class="top-up">
			<ul class="social">
				<li><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
			</ul>
		</div>

		
		<script src="{{site.baseurl}}/assets/node_modules/jquery/dist/jquery.slim.min.js"></script>
		<script src="{{site.baseurl}}/assets/node_modules/popper.js/dist/umd/popper.min.js"></script>
		<script src="{{site.baseurl}}/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="{{site.baseurl}}/assets/js/top-up.js"></script>
	
	</body>
</html>
		